@model LogSearch.ViewModels.LogSearch.LogSearchViewModel

@Model.LogEntries.First().Message;

<div>
@foreach (var item in @Model.Configuration.ServerPath)
{
    <p>Server: @item.Key, path: @item.Value</p>
}
</div>
